*Rproj*
.R*
*.bak
*.rds
.idea
data
rsconnect
lib
logs
node_modules
packrat/lib/
.Rproj.user
packrat/lib*/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
